@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Inter:wght@300;400;500;700;900&family=Phudu&family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&family=Phudu&family=Rajdhani:wght@500&display=swap');
html, body {
    color: #191919;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper-grid{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.btn-yellow {
    background-color: #F9D783;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 18px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        color: #f0e9ea;
    }
}

.btn-transparent {
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 18px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        color: #f0e9ea;
    }
}

.btn-black {
    background-color: #191919;
    transition: background-color 0.2s ease-in-out;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 18px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #ffffff;
        color: #191919;
        border-color: #191919;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    padding-top: 70px;
    padding-bottom: 35px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;
    }

    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        color: #191919;
        font-family: 'DM sans', sans-serif ;
        font-weight: 700;
        font-size: 45px;
    }
}

header {
    background-color: #f0efe9;
    padding: 16px;

    .container {
        display: flex;
        gap: 70px;
        align-items: center;
        justify-content: space-between;

        .menu-bars {
            font-size: 25px;
            border: none;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .menu {
            display: none;
            flex: 1;
            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;

                @media(min-width:1200px) {
                    justify-content: space-between;
                }
            }

            .contact-information {
                display: none;
                align-items: center;

                @media (min-width: 1200px) {
                    display: flex;
                }

                .content-box {
                    padding-right: 30px;
                    margin-right: 30px;
                    border-right: 1px solid #DAD9D3;
                    font-family: 'inter', sans-serif;
                    font-size: 15px;
                    font-weight: 300;

                    i {
                        margin-right: 5px;
                        font-size: 1.2em;
                    }

                    &.last {
                        border: none;
                    }
                }
            }

            .socialmedia {
                a {
                    color: #191919;
                    font-size: 1.3rem;
                    margin-left: 10px;
                    
                    &:hover {
                        color: #666666;
                    }
                }
            }

            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: '';
                            font-weight: 500;
                            position: absolute;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }

                .btn-login {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }
}

.showcase {
    background-color: #f0efe9;
    position: relative;

    .penstroke-showcase {
        position: absolute;
        bottom: 0;
        
        
        img {
            max-width: 100%;
        }

    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            .btn-yellow {
                position: relative;
                z-index: 1;
            }

            .btn-transparent {
                position: relative;
                z-index: 1;
            }

            h1 {
                font-family: 'DM sans', sans-serif ;
                font-weight: 700;
                font-size: 40px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p {
                font-size: 18px;
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                
                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}

.brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 90px;
    padding-bottom: 100px;

    img {
        width: 100%;
        height: auto;
    }
}

.trust-us {
    border: 1px solid #DAD9D3;
    margin: 5px;
    @media(min-width: 1520px) {
        max-width: 1520px;
        margin: 5px auto;

    }
    .trust-us-box {
        display: flex;
        flex-direction: column;
        gap: 75px;
        margin-top: 40px;
        margin-bottom: 40px;
        @media(min-width: 1200px) {
            display: grid;
            grid-template-columns: 40% auto;
        }
        .title {
            display: flex;
            flex-direction: column;
            text-align: center;

            @media(min-width: 1200px) {
                margin-top: 25px;
                margin-left: 0px;
                text-align: left;
                a {
                    text-align: center;
                    margin-top: 30px;
                }
            }

            p {
                color: #F94D1C;
                margin-bottom: 10px;
            }
        
            h2 {
                color: #191919;
                font-family: 'DM sans', sans-serif ;
                font-weight: 700;
                font-size: 45px;
            }
        }
        .trust-us-grid {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            
            h3 {
                font-family: 'DM sans', sans-serif ;
                font-weight: 700;
                font-size: 22px;
            }
            
            i {
                margin-bottom: 20px;
                margin-top: 20px;
                font-size: 25px;
            }
            
            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @media(min-width: 1200px) {
                margin-top: 40px;
                margin-bottom: 40px;
                text-align: left;
                row-gap: 45px;
                
                p {
                    max-width: 240px;
                }
            }
        }
    }
}

.about-company {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;

    @media(min-width: 1400px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 120px;
        margin-bottom: 0px;
        gap: 170px;
        padding-right: 50px;
    }

    .founder {
        margin-left: 50px;
        display: none;

        @media(min-width: 768px) {
            display: flex;
            flex-direction: column;
        }

        .penstroke {
            position: absolute;
            top: 33px;
            left: 25px;
        }

        .founder-info {
            position: absolute;
            top: 396px;
            left: 5px;
            width: 370px;
            height: 180px;
            background-color: #BEEBFF;
            padding-top: 30px;
            padding-left: 25px;
            text-align: left;

            h3 {
                color: #191919;
                font-family: 'DM sans', sans-serif ;
                font-weight: 700;
                font-size: 22px;
            }
            
            span {
                font-size: 16px;
                font-weight: 700;
                color: #F94D1C;
                margin-bottom: 10px;
            }
        }
    }
    .about-company-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
        
        @media(min-width: 1400px) {
            text-align: left;
            margin-top: 0;
        }

        .title{

            p {
                color: #F94D1C;
                margin-bottom: 10px;
            }
        
            h3 {
                color: #191919;
                font-family: 'DM sans', sans-serif ;
                font-weight: 700;
                font-size: 45px;
            }
        }

        .bodytext-1 {
            margin-top: 20px;
        }

        .bodytext-2 {
            margin-top: 10px;

            @media (min-width: 1400px) {
                margin-top: 60px;
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-top: 20px;

            @media(min-width: 768px) {
                flex-direction: row;
                align-self: center;
            }

            @media(min-width: 1400px) {
                margin-top: 70px;
                gap: 50px;
                align-self: auto;
            }

            .intro-video {
                font-size: 35px;
                text-decoration: none;
                color: #191919;
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: 500;

                span {
                    font-size: 15px;
                }

                i {
                    font-size: 60px;
                }

                &:hover {
                    opacity: 50%;
                }
            }
        }
    }

}

.our-services {
    background-color: #f0efe9;
    position: relative;
    margin-top: 120px;

    .penstroke {
        position: absolute;
        width: auto;
        bottom: 0;
        right: 0;
        max-width: 100%;

        img {
            width: auto;
            max-width: 100%;
        }
    }
    .container {
        .section-title {
            text-align: center;
            padding-bottom: 50px;

            @media(min-width: 1200px) {
                text-align: left;
                width: 40%;
            }
        }

        .services {
            display: grid;
            grid-template-columns: 1fr;
            gap: 25px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media(min-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
            }

            h3 {
                color: #191919;
                font-family: 'DM sans', sans-serif ;
                font-weight: 700;
                font-size: 22px;
            }
            
            .arrow {
                display: flex;
                justify-content: flex-end;
                font-size: 50px;
                margin-top: 30px;
                padding-bottom: 10px;
            }

            .outer-box {
                background-color: #ffffff;
                padding: 50px 40px;

                @media (min-width: 1200px) {
                    padding: 35px 35px;
                }

                &:hover {
                    background-color: #F9D783;

                    .arrow {
                        color: #ffffff;
                    }
                }
                
                .box {
                    display: flex;
                    flex-direction: column;
                    padding-top: 5px;
                    position: relative;

                    &:hover {
                        background-color: #F9D783;

                        .arrow {
                            color: #ffffff;
                        }
                    }

                    .border-top {
                        width: 15%;
                        height: 3px;
                        background: #191919;
                        margin-bottom: 40px;
                    }
                }
            }
        }

        .center-content {

            .btn-transparent {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                padding-left: 35px;
                padding-right: 35px;
                margin-bottom: 112px;

                i {
                        padding-top: 5px;
                }
            }
        }
    }
}

.why-us {
    position: relative;

    .background-block {
        display: none;
        @media(min-width: 1200px) {
            display: inline-block;
            position: absolute;
            background-color: #f0efe9;
            width: 54%;
            height: 60%;
            max-width: 100%;
            bottom: 0;
            right: 0;
        }
    }
    
    .container {
        position: relative;

        .right {
            display: none;
            @media(min-width: 1200px) {
                display: inline-block;
                position: absolute;
                max-width: 100%;
                bottom: 18%;
                right: 0;
            }
        }

        .left {
            display: flex;
            flex-direction: column;

            .section-title {
                padding-bottom: 10px;
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: left;
                    padding-top: 60px;
                }
            }

        .strengths {
            align-self: center;

            @media (min-width: 1200px) {
                align-self: first baseline;
            }

            .info-text {
                display: flex;
                gap: 30px;
                margin-top: 35px;

                h3 {
                    color: #191919;
                    font-family: 'DM sans', sans-serif ;
                    font-weight: 700;
                    font-size: 22px;
                }

                .icon {

                    i {
                        border: 1px solid #DAD9D3;
                        border-radius: 50%;
                        font-size: 35px;
                        padding: 10px;
                    }
                }
            }
        }
        }
    }
}

.project-and-case {

    .container{
        
        .section-title{
            text-align: center;
        }

        .project-and-cases-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
            
            @media (min-width: 768px){
                grid-template-columns: 1fr 1fr;
            }

            .project {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration: none;
                

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-family: 'DM sans', sans-serif ;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                .readmore {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    text-decoration: none;
                    font-family: 'inter', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    color: #191919;

                    i {
                        margin-left: 3px;
                    }
                }

                &:hover .readmore{
                    // text-decoration: underline;
                    transition: 0.3s;
                    font-weight: 900;
                }

                &:hover img {
                    transition: 0.3s;
                    transform: scale(0.98);
                }
            }
        }

        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}

.meet-team {
    background-color: #F0D082;

    .container {

        .top {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;

            @media(min-width: 1200px) {
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
            }

            .section-title {
                padding-bottom: 50px;

                @media (min-width: 1200px) {
                    padding-bottom: 100px;
                }
            }

            .btn-yellow {
                padding: 18px 40px;
                border: 1px solid #191919;
                margin-bottom: 40px;

                @media(min-width: 1200px) {
                    margin-top: 15px;
                    margin-bottom: 0px;
                }
            }
        }

        .team-members {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @media(min-width: 1200px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            
            .member {
                align-self: center;
                text-align: center;

                @media (min-width: 1200px) {
                    text-align: start;
                }

                img {
                    max-width: 100%;
                }
            }

            .member-info {
                margin-top: 15px;

                h3 {
                    font-family: 'DM sans', sans-serif ;
                    font-weight: 700;
                    font-size: 22px;
                }
            }
        }

        .nav-dots {
            display: flex;
            justify-content: space-around;

            .chev {
                padding-top: 20px;
                font-size: 20px;

                @media(min-width: 1200px) {
                    display: none;
                }
            }

            .page-dots {
                display: flex;
                justify-content: center;
                padding-top: 30px;
                padding-bottom: 60px;
                gap: 17px;
                font-size: 10px;
                

                
                div {
                    color: #191919;
                    opacity: 0.3;
                    text-decoration: none;

                }
                
                    .dot-2 {
                    color: #191919;
                    opacity: 1;
                }
            } 
        }
    }
}

.testimonial {
    background-color: #F0D082;
    padding: 10px;
    padding-bottom: 50px;
    

    @media(min-width: 1200px) {
        padding-bottom: 120px;
    }

    @media(min-width: 1520px) {
        padding-bottom: 220px;
    }

    .container {
        margin-top: 10px;
        background-color: #ffffff;
        padding-bottom: 50px;
        
        @media(min-width: 1520px) {
            padding-bottom: 20px;
            outline: 100px solid #ffffff;
            margin-top: 100px;
        }

        .title {
            text-align: center;

            .section-title {
                padding-bottom: 60px;
                padding-top: 40px;

                @media(min-width: 1520px) {
                    margin-top: 12px;
                    padding-top: 0px;
                }
            }
        }

        .client-rating {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @media(min-width: 768px) {
                flex-direction: row;
            }

            @media(min-width: 1400px) {
                gap: 90px;
            }

            .client-box {
                display: flex;
                flex-direction: column-reverse;
                gap: 15px;
                border: 1px solid #DAD9D3;
                padding-top: 10px;
                padding-bottom: 10px;
                
                @media(min-width: 1200px) {
                    flex-direction: column;
                    border: none;
                    justify-content: space-between;
                }

                .rating {
                    display: flex;
                    font-size: 10px;
                    gap: 5px;
                    color: #F94D1C;
                }

                .review {
                    line-height: 2;
                }

                .client {
                    display: flex;
                    flex-direction: row;

                    @media(min-width: 768px) {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        img {
                            margin-right: 10px;

                            @media(min-width: 992px) {
                                margin-left: 20px;
                            }

                            @media (min-width: 1200px) {
                                margin-left: 0px;
                            }
                        }
                    }

                    @media(min-width: 1200px) {
                        display: flex;
                        flex-direction: row;
                    }
                    
                    .client-info {
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        margin-left: 20px;

                        @media(min-width: 768px) {
                            margin-left: 0px;
                        }

                        @media(min-width: 1200px) {
                            margin-left: 20px;
                        }
                        h3 {
                            font-family: 'DM sans', sans-serif ;
                            font-weight: 700;
                            font-size: 22px;
                        }

                        p{
                            color: #F94D1C;
                        }
                    }
                }
            }
        }

        .center-content {

            .btn-black {
                margin-top: 100px;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}

.articles-news {

    .container {
        margin-top: 100px;

        .top {
            display: flex;
            flex-direction: column;
            margin-bottom: 70px;
            text-align: center;

            @media (min-width: 1200px) {
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                text-align: left;
                
            }

            .section-title {
                padding-bottom: 30px;
                padding-top: 10px;
            }

        }

        .news {
            display: flex;
            flex-direction: column;
            gap: 60px;
            justify-content: center;

            @media(min-width: 1200px) {
                flex-direction: row;
            }

            .article {
                border-bottom: 1px solid #DAD9D3;
                text-align: center;
                text-decoration: none;
                color: #191919;

                @media(min-width: 1200px) {
                    border: none;
                }

                &:hover {
                    transition: 0.3s;
                    transform: scale(0.97);
                }
                

                @media (min-width: 1200px) {
                    text-align: left;
                }

                h3 {
                    font-family: 'DM sans', sans-serif ;
                    font-weight: 700;
                    font-size: 22px;
                }

                p {
                    margin-top: 20px;
                }

                img {
                    max-width: 100%;
                }
            }
        }

        .nav-dots {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;

            .chev {
                padding-top: 20px;
                font-size: 20px;

                @media(min-width: 1200px) {
                    display: none;
                }
            }

            .page-dots {
                display: flex;
                justify-content: center;
                padding-top: 30px;
                padding-bottom: 60px;
                gap: 17px;
                font-size: 10px;
                

                
                div {
                    color: #191919;
                    opacity: 0.3;
                    text-decoration: none;

                }
                
                    .dot-1 {
                    color: #191919;
                    opacity: 1;
                }
            } 
        }
    }
}

.newsletter {
    position: relative;
    background-color: #F0EFE9;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 1;

    .background-wavy-lines {
        display: none;
        position: absolute;
        bottom: 50px;
        right: 0;

        @media(min-width: 472px){
            display: block;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;

        @media(min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

        h2 {
            font-family: 'DM sans', sans-serif;
            font-size: 45px;
            font-weight: 700;
        }

        form {
            
            input {
                margin-bottom: 20px;
                padding: 18px 30px;
                border-radius: 25px;
                outline: none;
                border: 1px solid #1919191a;
                @media(min-width: 768px) {
                    margin-right: 20px;
                }
            }

            .btn-yellow {
                position: relative;
                z-index: 1;

                @media(min-width: 1200px) {
                    margin-right: 30px;
                }
            }
        }
    }
}

.footer-section {
    background-color: #0E1021;
    position: relative;
    padding-bottom: 90px;
    
    .container {
        display: grid;
        grid-template-rows: 1fr auto;
        padding-top: 115px;
        text-align: center;

        @media(min-width: 1400px) {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
        }

        .penstrokes {
            display: none;
            position: absolute;
            right: 0;
            bottom: 0;

            @media(min-width: 472px) {
                display: block;
            }
        }
        
        h3 {
            font-family: 'DM sans', sans-serif ;
            font-weight: 700;
            font-size: 22px;
            color: #ffffff;
        }

        p {
            color: #ffffff;
        }

        
        .left {

            img {
                color: #ffffff;
                margin-bottom: 30px;
            }
        }
        
        .info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: justify;
            justify-self: center;
            column-gap: 60px;
            row-gap: 30px;

            @media(min-width: 992px) {
                display: flex;
                justify-self: auto;
                justify-content: space-between;
            }

            @media(min-width: 1200px) {
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-template-rows: none;
                margin-left: 120px;
                gap: 100px;
            }

            
            .info-row {

                .title {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    a {
                        font-family: 'inter', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        color: #ffffff;
                        text-decoration: none;

                        &:hover {
                        color: #666666;
                        }
                    }
                }
            }
        }
    }
}

.rights-socmedia {
    background-color: #0E1021;
    padding-bottom: 25px;
    padding-top: 25px;
    border-top: 1px solid  #707070;

    .container {
        display: flex;
        flex-direction: column-reverse;
        color: #ffffff;
        text-align: center;
        gap: 10px;

        @media(min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .socialmedia {

            a {
                color: #ffffff;
                font-size: 1.3rem;
                margin-left: 10px;
                
                &:hover {
                    color: #666666;
                }
            }
        }
    }
}